<div class="d-flex align-items-center justify-content-center">
  <h1>Welcome to Y!</h1>
</div>
<div class="d-flex align-items-center justify-content-center">
  <h2>I hope you enjoy your visit</h2>
</div>