<div class="d-flex align-items-center justify-content-center">
  <h1>About</h1>
</div>
<h2>Some things to know</h2>
<p>Welcome to Y!, the microblogging platform where you can share your thoughts, ideas, and moments in real time! At Y, we believe in freedom of expression and connecting people quickly and easily. Discover what's happening in the world and share your own stories with a global community of passionate users.</p>
